<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="optimizely" value="https://nuget.optimizely.com/feed/packages.svc/" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="optimizely">
      <package pattern="EPiServer" />
      <package pattern="EPiServer.*" />
      <package pattern="Optimizely.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>